<div class="top-navigation-row">

    <div class="top-navigation-container">

        <!-- Guild Logo -->
        <div class="guild-logo-container">
            <img class="guild-logo-image" src="/assets/images/GuildLogo.png" />
        </div>

        <!-- Guild Name -->
        <div class="guild-name-container">
            <a routerLink="/desktop" class="inherit-link">La Danse Macabre</a>
        </div>

        <!-- Horizontal Menu -->
        <div class="horizontal-menu-container flex-push-right">
            <app-navigation-menu></app-navigation-menu>
        </div>

    </div>

</div>
