<div class="centered-page">

  <div>

    <div class="pager">
      <div><a (click)="olderButtonClicked()" [routerLink]=""><i class="fa fa-arrow-left fa-1x"></i> older</a></div>
      <div><a (click)="todayButtonClicked()" [routerLink]="">today</a></div>
      <div><a (click)="newerButtonClicked()" [routerLink]="">newer <i class="fa fa-arrow-right fa-1x"></i></a></div>
    </div>

    <div class="legend">
      <div class="event-willCome">will come</div>
      <div class="event-mightCome">might come</div>
      <div class="event-absent">absent</div>
      <div class="event-notSigned">you haven't signed yet</div>
      <div class="event-cancelled">cancelled event</div>
    </div>

    <div class="calendar">

      <div class="weekday-row">
        <div>monday</div>
        <div>tuesday</div>
        <div>wednesday</div>
        <div>thursday</div>
        <div>friday</div>
        <div>saturday</div>
        <div>sunday</div>
      </div>

      <div *ngFor="let week of calendarMonth.getWeeks()"
           class="week-row">

        <div *ngFor="let calendarDay of week.getDays()"
             class="day-container"
             [ngClass]="{'day-in-raidweek': calendarDay.isInRaidWeek()}">

          <div class="day-container-header">
            <span [ngClass]="{'today': calendarDay.isToday()}">{{ calendarDay.getDisplayString() }}</span>
          </div>

          <div *ngIf="!calendarDay.isInThePast()" class="hover-me-container">
            <div class="hover-me">
              <a [routerLink]="['/']">add an event</a>
            </div>
          </div>

          <div *ngIf="!eventsPopulated" class="spinner-container">
            <img src="assets/images/shared/waiting-spin.gif" width="30" />
          </div>

          <div *ngIf="eventsPopulated">
            <div *ngFor="let event of calendarDay.getEvents()"
              [routerLink]="[event.id]"
              [ngClass]="{'event-cancelled': event.state == 'Cancelled'}"
              class="event-container event-willCome">
              {{ event.name }}
            </div>
          </div>

      </div>

    </div>

  </div>

</div>
