div.tile-content-container
{
  height: 100%;
  width: 100%;
}

.event-container
{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
  margin: 2px 2px 6px;
  padding: 2px;

  a
  {
    color: var(--default-color);
  }
}

.event-willCome
{
  --willCome-color: 19, 151, 22;
  background-color: rgba(var(--willCome-color), 0.3);
  color: rgb(var(--willCome-color));
  border: 1px solid rgb(var(--willCome-color));
  border-left: 4px solid rgb(var(--willCome-color));
}

div.spinner-container
{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  img
  {
    width: 30px;
  }
}
