<div class="top-navigation-row">
    <div class="top-navigation-container">
        <div class="guild-logo-container">
            <!-- Guild Logo -->
            <img class="guild-logo-image" src="/assets/images/GuildLogo.png" />
        </div>
        <div class="guild-name-container">
            <!-- Guild Name -->
            <a routerLink="/desktop" class="inherit-link">La Danse Macabre</a>
        </div>
        <div class="horizontal-menu-container flex-push-right">
            <!-- Horizontal Menu -->
            <app-navigation-menu></app-navigation-menu>
        </div>
    </div>
</div>
