<div class="page-container">

  <div class="menu-container">

    <div class="menu-columns-container">

      <app-menu-column>

        <a routerLink="../events">
          <app-menu-tile size="wide" icon="fa-calendar-alt" iconStyle="regular"></app-menu-tile>
        </a>

        <a href="https://www.facebook.com/groups/23877201619/media/albums" target="_blank">
          <app-menu-tile size="single" label="Pictures">
            <app-menu-tile-icon-content icon="fa-image" iconStyle="regular"></app-menu-tile-icon-content>
          </app-menu-tile>
        </a>

        <app-menu-tile size="single" label="Discord">
          <app-menu-tile-icon-content icon="fa-headphones" iconStyle="solid"></app-menu-tile-icon-content>
        </app-menu-tile>

        <app-menu-tile size="wide" icon="fa-comments" iconStyle="solid"></app-menu-tile>

        <a href="https://www.facebook.com/groups/23877201619/" target="_blank">
          <app-menu-tile size="single" label="Facebook Page">
            <app-menu-tile-image-content
              imageUrl="/assets/images/menu/logos/FB-f-Logo__blue_100.png"></app-menu-tile-image-content>
          </app-menu-tile>
        </a>

        <a routerLink="../about">
          <app-menu-tile size="single" label="About">
            <app-menu-tile-icon-content icon="fa-info" iconStyle="solid"></app-menu-tile-icon-content>
          </app-menu-tile>
        </a>

      </app-menu-column>

      <app-menu-column>

        <a href="">
          <app-menu-tile size="single" label="My WoW Characters">
            <app-menu-tile-icon-content icon="fa-users" iconStyle="solid"></app-menu-tile-icon-content>
          </app-menu-tile>
        </a>

        <a href="">
          <app-menu-tile size="single" label="Who is Who">
            <app-menu-tile-icon-content icon="fa-th" iconStyle="solid"></app-menu-tile-icon-content>
          </app-menu-tile>
        </a>

        <a href="https://www.icy-veins.com/wow/" target="_blank">
          <app-menu-tile size="single" label="Icy Veins">
            <app-menu-tile-image-content
              imageUrl="/assets/images/menu/logos/logo_icyveins.png"></app-menu-tile-image-content>
          </app-menu-tile>
        </a>

        <a href="https://www.wowhead.com/" target="_blank">
          <app-menu-tile size="single" label="Wowhead">
            <app-menu-tile-image-content
              imageUrl="/assets/images/menu/logos/logo_wowhead.png"></app-menu-tile-image-content>
          </app-menu-tile>
        </a>

        <a href="https://www.askmrrobot.com/" target="_blank">
          <app-menu-tile size="single" label="Ask Mr Robot">
            <app-menu-tile-image-content
              imageUrl="/assets/images/menu/logos/AMRLogoHomePage.png"></app-menu-tile-image-content>
          </app-menu-tile>
        </a>

        <a href="https://wow.gamepedia.com/Wowpedia" target="_blank">
          <app-menu-tile size="single" label="Wowpedia">
            <app-menu-tile-image-content
              imageUrl="/assets/images/menu/logos/wowpedia.png"></app-menu-tile-image-content>
          </app-menu-tile>
        </a>

        <a href="https://www.warcraftlogs.com/guild/eu/defias-brotherhood/la%20danse%20macabre" target="_blank">
          <app-menu-tile size="single" label="Warcraft Logs">
            <app-menu-tile-icon-content icon="fa-heartbeat" iconStyle="solid"></app-menu-tile-icon-content>
          </app-menu-tile>
        </a>

        <a href="https://worldofwarcraft.com/en-gb/" target="_blank">
          <app-menu-tile size="single" label="WoW Battle.net">
            <app-menu-tile-image-content
              imageUrl="/assets/images/menu/logos/BattleNet.png"></app-menu-tile-image-content>
          </app-menu-tile>
        </a>

        <a href="https://worldofwarcraft.com/en-gb/guild/eu/defias-brotherhood/la-danse-macabre" target="_blank">
          <app-menu-tile size="single" label="Guild @ Battle.net">
            <app-menu-tile-image-content
              imageUrl="/assets/images/menu/logos/BattleNetAndGuildLogo.png"></app-menu-tile-image-content>
          </app-menu-tile>
        </a>

      </app-menu-column>

      <div class="menu-news-column">

        <div class="news-column-wrapper">

          <app-menu-news></app-menu-news>

        </div>

      </div>

    </div>

  </div>

</div>
