div.page-container {
  width: 100%;
  margin: 50px auto auto;
  position: relative;
}

div.menu-container {
  width: max-content;
  margin: auto;
}

div.menu-columns-container {
  white-space: nowrap;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;

}

div.menu-news-column {
  width: 450px;
}

div.news-column-wrapper {
  padding: 5px;
  margin: 10px;
}




