<div class="top-navigation-row">

  <div class="top-navigation-container">

    <!-- Guild Logo -->
    <div class="guild-logo-container">
      <a [routerLink]="logoNavigationTarget()">
        <img class="guild-logo-image" src="/assets/images/desktop/navigation/GuildLogo.png" alt="Guild Logo"/>
      </a>
    </div>

    <!-- Guild Name -->
    <div class="guild-name-container">
      <a [routerLink]="logoNavigationTarget()" href="" class="inherit-link">La Danse Macabre</a>
    </div>

    <!-- Horizontal Menu -->
    <div class="horizontal-menu-container flex-push-right">
      <app-navigation-menu></app-navigation-menu>
    </div>

  </div>

</div>
