<div *ngIf="loggedIn == null"
     style="width: 100%; max-width: 980px; margin: auto; position: relative; margin-top: 100px; text-align: center">
  <p><i class="fas fa-fingerprint fa-8x"></i></p>
  <p>
  <span style="font-size: 3em">
  getting things ready ...
    </span>
  </p>
</div>

<div *ngIf="loggedIn != null && !loggedIn"
     style="width: 100%; max-width: 980px; margin: auto; position: relative; margin-top: 100px;">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">

        <div class="jumbo">
          <div style="width: 100%;">
            <h1>La Danse Macabre</h1>

            <br/>

            <p>Welcome to the website of La Danse Macabre, a gaming guild of fun people of all ages and
              interests. Join us in World of Warcraft, Star Wars The Old Republic or other games.</p>

            <p>LDM is a 'friends and family guild'. We always aim to have fun. While we raid and do some
              PvP, this is not meant as serious or hardcore, but casual and fun. While we can aim to
              progress in raids and push rating in arena, the aim is to keep it fun.</p>

            <br/>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4" style="text-align: center;">
                  <p><a class="btn btn-info" routerLink="/about">more information</a></p>
                </div>
                <div class="col-md-4" style="text-align: center;">
                  <p>
                    <button class="btn btn-success" (click)="auth.login('/menu')">login or register</button>
                  </p>
                </div>
                <div class="col-md-4" style="text-align: center;">
                  <p>
                    <a href="https://www.facebook.com/groups/23877201619/">
                      <img src="/assets/images/pages/welcome/FindUsOnFacebook.png" alt="Facebook Logo"/>
                    </a>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>
