div.menu-news {
  overflow: visible !important;
  white-space: normal !important;
}

div.menu-news p.news-item {
  font-family: 'Segoe UI', 'Open Sans', sans-serif, serif;
  font-size: 18px;
  color: black;
  font-weight: 300;
  padding-bottom: 15px;
}

div.menu-news p.news-title {
  font-family: 'Segoe UI', 'Open Sans', sans-serif, serif;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

div.menu-news p span.news-timestamp {
  font-size: 14px;
  color: gray;
  font-weight: 200;
}

div.menu-news p a {
  color: black;
}
