<div class="menu-news">

  <p class="news-item"><a href="https://www.wowhead.com/news=316704/spires-of-ascension-shadowlands-alpha-dungeon-preview" target="_blank">Spires of Ascension: Shadowlands Alpha Dungeon Preview</a>
    <br>
    <span class="news-timestamp">Fri, 03 Jul, 15:24</span>
  </p>


  <p class="news-item"><a href="https://www.wowhead.com/news=316699/legendary-runeforged-powers-can-only-be-used-on-specific-slots" target="_blank">Legendary Runeforged Powers Can Only Be Used on Specific Slots</a>
    <br>
    <span class="news-timestamp">Fri, 03 Jul, 03:26</span>
  </p>


  <p class="news-item"><a href="https://www.wowhead.com/news=316709/blizzard-announces-upcoming-low-population-realm-connections" target="_blank">Blizzard Announces Upcoming Low-Population Realm Connections</a>
    <br>
    <span class="news-timestamp">Fri, 03 Jul, 01:21</span>
  </p>


  <p class="news-item"><a href="https://www.wowhead.com/news=316708/patch-8-3-hotfixes-for-july-2nd-operation-mechagon-workshop-trash-fix" target="_blank">Patch 8.3 Hotfixes for July 2nd - Operation: Mechagon Workshop Trash Fix</a>
    <br>
    <span class="news-timestamp">Fri, 03 Jul, 01:11</span>
  </p>


  <p class="news-item"><a href="https://www.wowhead.com/news=316707/blizzard-clarifies-that-extra-elemental-damage-from-weapons-is-working-as-intend" target="_blank">Blizzard Clarifies that Extra Elemental Damage from Weapons is Working As Intended</a>
    <br>
    <span class="news-timestamp">Fri, 03 Jul, 00:47</span>
  </p>


  <p class="news-item"><a href="https://www.wowhead.com/news=316702/soulbind-calculator-updated-with-all-12-soulbind-trees-crazy-effects-and-passive" target="_blank">Soulbind Calculator Updated with All 12 Soulbind Trees - Crazy Effects and Passives</a>
    <br>
    <span class="news-timestamp">Thu, 02 Jul, 23:39</span>
  </p>


  <p class="news-item"><a href="https://www.wowhead.com/news=316706/characters-that-transfer-servers-cannot-open-aq-gates-and-obtain-mount-for-90-da" target="_blank">Characters That Transfer Servers Cannot Open AQ Gates and Obtain Mount for 90 Days</a>
    <br>
    <span class="news-timestamp">Thu, 02 Jul, 22:24</span>
  </p>


  <p class="news-item"><a href="https://www.wowhead.com/news=316703/community-tributes-to-byron-reckful-bernstein" target="_blank">Community Tributes to Byron 'Reckful' Bernstein</a>
    <br>
    <span class="news-timestamp">Thu, 02 Jul, 20:21</span>
  </p>

</div>
